/* Color scheme 
http://paletton.com/#uid=3000u0k00w000Gc00-f01uA09rc
*/

div, body {
	margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body {
    height: 100vh;
    font-size: 16px;
    width: 100%; /* viewport width */
    font-family: "Segoe UI";
    background: #E3E3E3;
}

#menubar {
	font-size: 20px;
	width: 100%;
	top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #818282;
}

#menubar .menu {
	padding-right: 10px;
	color: white;
}

#menubar .separator {
	color: #929292;
	padding-right: 10px;
}

#menubar :hover {
	cursor: pointer;
}

#content {
	margin-top: 60px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#shortbio {
	float: left;
	bottom: 0px;
	margin-top: 50px;
	width: 200px;
	color: #818282;
}

#shortbio img {
	width: 125px;
	height: 125px;
	border-radius: 40em;
	margin-bottom: 20px;
}

#post {
	float: right;
	width: 700px;
	color: #363636; /* derivative of 999999 */
}

#post h1 {
	font-size: 34px;
	padding-bottom: 40px;
}
#post h2 {
	font-size: 24px;
	padding-top: 20px;
}


#matter {
	font-family: "Segoe UI", "Consolas";
	font-size: 18px;
	color: #3C3C3C;
}

#footer { 
	text-align: center;
	position: fixed;
	bottom: 0px; 
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background: #a7a7a7;
	opacity: 0.8;
}

/** Design **/

.menu a {
	color: white;
	text-decoration: none;
}

.separator:after {
	content: '|';
}

#links a {
	color: #818282;
	text-decoration: none;
}

#links a .fa-github { color: black; }
#links a .fa-stack-exchange { color: #185397;}
#links a .fa-twitter { color: #5ea9dd;}
#links a .fa-facebook-square { color: #3b5998;}
#links a .fa-google-plus-square { color: #d94635;}
#links a .fa-skype { color: #00a7e5;}

/** media queries **/

@media all and (max-width: 1050px) {
	#content {
		width: 95%;
	}
	#post {
		float: none;
		margin-left: 250px;
		width: auto;
	}
	
}

@media only screen and (max-width: 520px) { /* mobiles */
	#content { width: 100%; }
	#shortbio { display: none; }
	#post { margin-left: 10px; margin-right: 10px; }
	#menubar .separator { display: none; }
	#menubar .menu { padding-left: 4px; padding-right: 4px; }
	#matter { font-size: 16px; }
	#menubar { text-align: center; font-size: 18px;}
}